.container
  %h1= @chart

  = form_for @chart, url: update_path(@chart, all_params) do |f|
    .row
      .col-sm-4
        %h2 Target Clear
        = f.select :target_clear, [nil] + Chart.target_clears.keys.to_a, {},
          class: 'form-control'

      .col-sm-4
        %h2 Target Priority
        = f.select :target_priority,
          [nil] + Chart.target_priorities.keys.to_a, {}, class: 'form-control'

      .col-sm-4
        %h2 Notes
        = f.text_field :description, class: 'form-control'

    = f.submit 'Submit', class: 'btn btn-default', id: 'edit-submit'
