<div class="container">
  <%= form_for :chart, url: refresh_path, html: { class: 'form-inline' } do |f| %>
    <h1>Charts Index</h1>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
    <%= f.text_field :username, class: 'form-control', placeholder: 'iidx.me username', value: 'donjar' %>
    <%= f.text_field :mode, class: 'form-control', placeholder: 'sp or dp', value: 'sp' %>
    <%= f.text_field :level, class: 'form-control', placeholder: 'level', value: '12' %>
    <%= f.submit 'Refresh', class: 'btn btn-default' %>
  <% end %>

  <div>
    <h2>Filter</h2>
    <%= link_to '<= RA', params.merge({ max_version: 18 }), class: 'btn btn-success' %>
    <%= link_to '<= Lin', params.merge({ max_version: 19 }), class: 'btn btn-success'%>
    <%= link_to '<= tri', params.merge({ max_version: 20 }), class: 'btn btn-success' %>
    <%= link_to '<= SPA', params.merge({ max_version: 21 }), class: 'btn btn-success' %>
    <%= link_to '<= PEN', params.merge({ max_version: 22 }), class: 'btn btn-success' %>
    <%= link_to '<= cop', params.merge({ max_version: 23 }), class: 'btn btn-success' %>

    <%= link_to '< HC', params.merge({ max_clear: 4 }), class: 'btn btn-warning' %>
    <%= link_to '< NC', params.merge({ max_clear: 3 }), class: 'btn btn-warning' %>
    <%= link_to '< EC', params.merge({ max_clear: 2 }), class: 'btn btn-warning' %>

    <%= link_to 'Low Priority', params.merge({ min_priority: 1 }), class: 'btn btn-info' %>
    <%= link_to 'Med Priority', params.merge({ min_priority: 2 }), class: 'btn btn-info' %>
    <%= link_to 'High Priority', params.merge({ min_priority: 3 }), class: 'btn btn-info' %>
  </div>

  <div>
    <h2>Sort</h2>
    <%= link_to 'Alphabet', params.merge({ sort: 'alpha' }), class: 'btn btn-danger' %>
    <%= link_to 'NC level', params.merge({ sort: 'nc' }), class: 'btn btn-danger' %>
    <%= link_to 'HC level', params.merge({ sort: 'hc' }), class: 'btn btn-danger' %>
    <%= link_to 'BPM', params.merge({ sort: 'bpm' }), class: 'btn btn-danger' %>
    <%= link_to 'Notes', params.merge({ sort: 'notes' }), class: 'btn btn-danger' %>
    <%= link_to 'Clear', params.merge({ sort: 'clear' }), class: 'btn btn-danger' %>
    <%= link_to 'Priority', params.merge({ sort: 'priority' }), class: 'btn btn-danger' %>
    <%= link_to 'ASC', params.merge({ sort_by: 'ascending' }), class: 'btn btn-primary' %>
    <%= link_to 'DESC', params.merge({ sort_by: 'descending' }), class: 'btn btn-primary' %>
  </div>

  <table class="table table-condensed table-responsive table-striped">
    <thead>
      <tr>
        <th>Clear</th>
        <th>Notes</th>
        <th>Version</th>
        <th>Title</th>
        <th>HC</th>
        <th>NC</th>
        <th>Rank</th>
        <th>Miss Count</th>
        <th>Target</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @charts.each do |chart| %>
        <tr>
          <td style="background-color: <%= chart.clear %>"</td>
          <td><%= chart.notes %></td>
          <td><%= chart.version %></td>
          <td><%= chart.title %> <%= chart.diff %></td>
          <td><%= bold(chart.hc_level) if chart.gimmicks %></td>
          <td><%= bold(chart.nc_level) if chart.gimmicks %></td>
          <td><%= chart.calc_rank %></td>
          <td><%= chart.miss %></td>
          <td><%= chart.target_clear %></td>
          <td><%= chart.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
