<p id="notice"><%= notice %></p>

<p>
  <strong>Songid:</strong>
  <%= @chart.songid %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @chart.diff %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @chart.notes %>
</p>

<p>
  <strong>Title:</strong>
  <%= @chart.title %>
</p>

<p>
  <strong>Version:</strong>
  <%= @chart.version %>
</p>

<p>
  <strong>Clear:</strong>
  <%= @chart.clear %>
</p>

<p>
  <strong>Score:</strong>
  <%= @chart.score %>
</p>

<p>
  <strong>Miss:</strong>
  <%= @chart.miss %>
</p>

<p>
  <strong>Gimmicks:</strong>
  <%= @chart.gimmicks %>
</p>

<p>
  <strong>Nc level:</strong>
  <%= @chart.nc_level %>
</p>

<p>
  <strong>Hc level:</strong>
  <%= @chart.hc_level %>
</p>

<p>
  <strong>Target clear:</strong>
  <%= @chart.target_clear %>
</p>

<p>
  <strong>Target priority:</strong>
  <%= @chart.target_priority %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chart.description %>
</p>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
